# Stripe Publishable Key (for Frontend elements loading)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_placeholder

# Stripe Secret Key (for serverless payment processing logic)
STRIPE_SECRET_KEY=sk_test_placeholder
